{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block title %}Password Reset{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "account/password_reset.css" %}">
{% endblock %}
{% block content %}

    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Forgot Password</span>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Enter your e-mail address and we'll send you an e-mail allowing you to reset it." %}</p>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {% if form.errors %}
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li style="color: red">{{ error|escape }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-error">
                                <strong style="color: red">{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="input-field">
                        {{ form.email }}
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field button">
                        <input type="submit" value="{% trans 'Reset My Password' %}"/>
                    </div>
                </form>
                <div class="login-signup">
                    <span class="text">Back To
                        <a href="" class="text signup-link">Login</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}