{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Change Password Done{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "account/password_done.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>
                <h1>{% trans "Change Password" %}</h1>
                <p>{% trans 'Your password is now changed.' %}</p>
                <div class="login-signup">
                <span class="text">Back To
                    <a href="{% url "landing" %}" class="text login-link">Home Page</a>
                </span>
        </div>
            </div>

        </div>

    </div>

{% endblock %}