{% extends 'base.html' %}
{% block content %}

    {%for image in object.productimage_set.all %}
    <div class = "carousel-item {% if forloop.counter0 == 0 %}active {% endif %}">
    <img src = "{{ image.image.url }}" class = "d-block w-100" alt = "{{image.alt}}">
    </div>
{% endfor %}

    <h1>{{ object.name }}</h1>
    <p>Price: {{ object.price }}</p>
    <p>Sku: {{ object.sku }}</p>
    <p>Description: {{ object.description }}</p>
    <p>Weight: {{ object.weight }}</p>
    <p>Category: {{ object.category }}</p>
    <p>brand: {{ object.brand }}</p>
    <form action="{% url 'products:add_product_to_checkout' pk=object.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Add to cart</button>
    </form>
{% endblock %}